nav {
	text-align: center;
	background-color: yellow;
	padding: 25px 0;
}
nav ul li {
	display: inline-block;
	background-color: white;
	padding: 10px 15px;
	margin: 5px 10px;
	transition: 0.5s ease;
}
nav ul li a {
	transition: 0.5s ease;
}
nav ul li:hover {
	transform: scale(1.2);
	background-color: lightblue;
	border: 2px solid #FFF;
}
nav ul li:hover a {
	color: black;
	text-decoration: white;
}
button {
	background-color: lightblue;
	color: darkgreen;
	border: none;
	border-radius: 5px;
	padding: 15px 25px;
	margin: 5px;
	transition: 0.25s ease;
}
button:hover {
	background-color: green;
	color: black;
}
div#buttons {
	text-align: center;
	padding: 50px 0;
}
